*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(rgba(9,0,77,0.65),rgba(9,0,77,0.65)), url(background.png) ;;
}
header{
    padding: 30px;
}
.header-buttons {
	margin-right: 80px;
	display: flex;
	align-items: center;
    margin-left: auto;
}

.header-buttons a{
	margin-left: 15px;
	padding: 10px 20px;
	border-radius: 20px;
	background-color: transparent;
	border: 1px solid rgb(143, 136, 136);
}

.button-text{
    text-decoration: none;
    color: white;
	font-size: 20;
	letter-spacing: 5px;
}
.raper{
    margin: 150px;
    background:rgb(143, 136, 136);
    width: auto;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 10px 10px 15px rgba(165, 74, 173, 0.65);
}
h2{
    text-align: center;
}
.members{
    display: flex;
    justify-content: center;
}
.team-mem{
    margin: 8px;
}
img{
    width: 100px;
    border-radius: 50%;
    height: 100px;
    margin: 10px;
}
h4{
    text-align: center;
    font-size: 12px;
    margin: 7px;
}